.header {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 6px;
}


.btn {
  background-color: rgb(245, 214, 134);
  padding: 4px;
}